out/


.vscode/
.vs/


*.exe
*.out
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

Testing/
CTestTestfile.cmake


.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db


*.log
